@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

/* Universal */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}



body {
    background-color: #FF5A5F;
    color: #FFFFFF;
    text-align: center;
}

/* page title */

a {
    text-decoration: none;
    color:inherit;
}

.white-heading {
    color: #FF5A5F;
}

/* page structure */

h1 {
    font-size: 26pt;
}

p {
    text-align: center;
    margin: auto;
    width: 90%;
}

p,
div,
button,
input,
label,
select,
option {
   font-size: 14pt;
}

.page-bottom {
    padding-bottom: 3rem;
}

/* form items */

.form-padding {
    margin-top: 1em;
}

#generate-player-order {
    margin-top: 2em;
}

button {
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #FF5A5F;
    border: 1px solid #FFFFFF;
    padding: 5px 15px;
    border: none;
}

.name-input {
    margin-bottom: 0.5rem;
}

.game-button {
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
}

.white-button {
    border-color: #FF5A5F;
    border: 1px solid;
}

#end-game {
    text-decoration: underline;
    margin-top: 3rem;
    border: double;
}

input {
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

#number-of-players {
    padding: 5px 0 5px 15px;
    margin-top: 1rem;
    width: 41px;
    height: 25px;
}

select {
    border-radius: 10px;
    border: none;
}

option {
    border-radius: 10px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

#number-selection-form {
    margin-top: 2rem;
}

.order-button {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.options {
    top: 10px;
} 

#turn-order {
    padding-top: 2rem;
    margin-bottom: 3rem;
}

/* results page */

#results-heading {
    font-size: 19pt;
}

#new-game-reminder{
    margin-top: 3rem;
}

/* Player colour classes */

.black {
    background-color: #3F3F3F;
    color: #FFFFFF;
}

.brown {
    background-color: #6D4534;
    color: #FFFFFF;
}

.blue {
    background-color: #0074B9;
    color: #FFFFFF;
}

.orange {
    background-color: #FF6723;
    color: #333333;
}

.purple {
    background-color: #8D65C5;
    color: #333333;
}

.red {
    background-color: #D22F27;
    color: #FFFFFF;
}

.white {
    background-color: #FFFFFF;
    color: #333333;
}

.green {
    background-color: #16C60C;
    color: #333333;
}

.yellow {
    background-color: #FCE100;
    color: #333333;
}

/* staging style rules */

.hidden {
    display: none;
}

.staging-div {
    top: 15%;
    position: absolute;
    width: 100%;
}

/* in-game text elements  */

#stopwatch {
    font-size: 3rem;
}

.current-player {
    font-size: 3rem;
}

/* responsiveness for 601px width screens and above */

@media screen and (min-width: 601px) {
    .staging-div p {
        width: 80%;
    }
}

/* responsiveness for 993px width screens and above */

@media screen and (min-width: 993px) {
    .staging-div {
        top: 20%;
    }

    .staging-div p {
        width: 70%;
    }
}

/* responsiveness for 1201px width screens and above */

@media screen and (min-width: 1201px) {
    .staging-div {
        top: 35%;
    }

    .staging-div p {
        width: 60%;
    }
}
